
.page_line{
  width: 82px;
  height: 3px;
  background: #ff6440;
  margin: 6px 0 48px;
}

.about .texts{
  margin-top: 75px;
}
.about .con p{
   margin-bottom: 24px;
}



@media only screen and (max-width:750px) {
  .about .texts {
    margin-top: 25px;
  }
  .page_line {
    width: 34px;
    height: 3px;
    background: #ff6440;
    margin: 8px 0 20px;
  }
  .about .con p {
    margin-bottom: 0;
  }
}