.check_btn{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0;
  transition: all .4s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid #c2c2c2;
}
.check_btn::after{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: url(../img/check_btn.png) no-repeat center/cover;
}

.add_lists .list:hover .check_btn{
   opacity: 1;
}


.check_btn:hover{
  background: #ff6440;
  border: 1px solid #ff6440;
}
.check_btn:hover::after{
  background: url(../img/check_hbtn.png) no-repeat center/cover;
}

.check_btn.active{
  background: #ff6440;
  border: 1px solid #ff6440;
}
.check_btn.active::after{
  background: url(../img/check_hbtn.png) no-repeat center/cover;
}

@media only screen and (max-width: 750px){
    .check_btn{
       width: 25px;
       height: 25px;
       bottom: initial;
       top: 10px;
    }
}