











.crumbs-nav .item:nth-child(6):after {
  transform: scale(1);
}


.down_btn{
  width: 30px;
  height: 30px;
  background: #000000;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0;
  transition: all .4s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.down_btn::after{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: url(../img/down_btn.png) no-repeat center/cover;
}


.add_lists .list:hover .down_btn{
   opacity: 1;
}

@media only screen and (max-width:750px) {
    .down_btn{
       width: 25px;
       height: 25px;
       bottom: initial;
       top: 10px;
    }
}