.swiper-container {
    -webkit-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
}
.swiper-slide {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
/* 分页器开始 */

/* 1.线条分页开始 */
.swiper-container.typea .swiper-pagination {
    bottom: -10px;
}
.swiper-container.typea .swiper-pagination-bullet {
  width: 40px;
  height: 5px;
  display: inline-block;
  border-radius: 0;
  background: transparent;
  opacity: 1;
  position: relative;
  outline: none;
  border: 1px solid #000000;
}
.swiper-container.typea .swiper-pagination-bullet::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}
.swiper-container.typea .swiper-pagination-bullet-active {
    opacity: 1;
}
.swiper-container.typea .swiper-pagination-bullet-active::after {
    background: #000;
    -webkit-animation: indicator-loading 6s linear forwards;
    animation: indicator-loading 6s linear forwards;
}
@-webkit-keyframes indicator-loading {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@keyframes indicator-loading {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

/* 2.分页原点开始 */
.swiper-container.typeb .swiper-pagination {
    bottom: 30px;
}
.swiper-container.typeb .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: white;
    opacity: 1;
    margin: 0 13px;
    border: 1px solid #FFFFFF;
}
.swiper-container.typeb .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: transparent;
}

/* 3.分页svg开始 */
.swiper-container .svg-swiper-pagination {
    bottom: 5%;
    position: absolute;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.swiper-container .svg-swiper-pagination .swiper-pagination-bullet {
    background: transparent;
    opacity: 1;
    position: relative;
    width: 20px;
    height: 20px;
    outline: none;
    margin: 0 6px;
}
.swiper-container .svg-swiper-pagination .swiper-pagination-bullet:first-child {
    margin-left: 0;
}
.swiper-container .svg-swiper-pagination .swiper-pagination-bullet:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}
.swiper-container .svg-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active .svg {
    opacity: 1;
}
.swiper-container .svg-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active .circle2 {
    -webkit-animation: svgCircleAnmi 3s linear forwards;
    animation: svgCircleAnmi 3s linear forwards;
}
.swiper-container .svg-swiper-pagination .swiper-pagination-bullet:first-child.swiper-pagination-bullet-active .circle2 {
    -webkit-animation: svgCircleAnmi 6s linear forwards;
    animation: svgCircleAnmi 6s linear forwards;
}
.swiper-container .svg-swiper-pagination .svg {
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    display: block;
}
.swiper-container .svg-swiper-pagination .circle1 {
    stroke: transparent;
}
.swiper-container .svg-swiper-pagination .circle2 {
    stroke: #ffffff;
    stroke-dasharray: 0 339;
}
.swiper-container svg:not(:root) {
    overflow: hidden;
}
@-webkit-keyframes svgCircleAnmi {
    0% {
        stroke-dasharray: 0 339;
    }
    to {
        stroke-dasharray: 339 339;
    }
}
@keyframes svgCircleAnmi {
    0% {
        stroke-dasharray: 0 339;
    }
    to {
        stroke-dasharray: 339 339;
    }
}
@-webkit-keyframes indicator-loading {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@keyframes indicator-loading {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

/* 左右按钮开始 */

/* 1.方块左右按钮开始 */
.swiper-container.swiper-button-block .swiper-button-prev,
.swiper-container.swiper-button-block .swiper-button-next {
    width: 46px;
    height: 90px;
    outline: none;
    background: rgba(0, 0, 0, 0.15);
    margin-top: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.swiper-container.swiper-button-block .swiper-button-prev::after,
.swiper-container.swiper-button-block .swiper-button-next::after {
    font-size: 30px;
    color: #ffffff;
    font-weight: 100;
}
.swiper-container.swiper-button-block .swiper-button-prev:hover,
.swiper-container.swiper-button-block .swiper-button-next:hover {
    background: #0CCCBC;
}
.swiper-container.swiper-button-block .swiper-button-prev {
    left: 0;
    -webkit-transform: translate(-100px, -50%);
    -ms-transform: translate(-100px, -50%);
    transform: translate(-100px, -50%);
}
.swiper-container.swiper-button-block .swiper-button-next {
    right: 0;
    left: auto;
    -webkit-transform: translate(100px, -50%);
    -ms-transform: translate(100px, -50%);
    transform: translate(100px, -50%);
} 
.swiper-container.swiper-button-block:hover .swiper-button-prev {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.swiper-container.swiper-button-block:hover .swiper-button-next {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

/* 圆圈左右按钮里面箭头开始 */
.swiper-container.swiper-button-hollow .swiper-button-prev,
.swiper-container.swiper-button-hollow .swiper-button-next {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #f7f7f7;
    outline: none;
}
.swiper-container.swiper-button-hollow .swiper-button-prev::after,
.swiper-container.swiper-button-hollow .swiper-button-next::after {
    display: none;
}
.swiper-container.swiper-button-hollow .swiper-button-prev .btn-prve,
.swiper-container.swiper-button-hollow .swiper-button-next .btn-prve {
    height: 0px;
    width: 0px;
    border-top: 4px solid transparent;
    border-right: 6px solid #0045a7;
    border-bottom: 4px solid transparent;
}
.swiper-container.swiper-button-hollow .swiper-button-prev .btn-next,
.swiper-container.swiper-button-hollow .swiper-button-next .btn-next {
    height: 0px;
    width: 0px;
    border-top: 4px solid transparent;
    border-left: 6px solid #0045a7;
    border-bottom: 4px solid transparent;
}
.swiper-container.swiper-button-hollow .swiper-button-prev:hover,
.swiper-container.swiper-button-hollow .swiper-button-next:hover {
    background: #0045a7;
}
.swiper-container.swiper-button-hollow .swiper-button-prev:hover .btn-next,
.swiper-container.swiper-button-hollow .swiper-button-next:hover .btn-next {
    border-left: 6px solid #ffffff;
}
.swiper-container.swiper-button-hollow .swiper-button-prev:hover .btn-prve,
.swiper-container.swiper-button-hollow .swiper-button-next:hover .btn-prve {
    border-right: 6px solid #ffffff;
}



@media only screen and (max-width: 750px) {
    .swiper-container.swiper-button-hollow .swiper-button-prev,
    .swiper-container.swiper-button-hollow .swiper-button-next {
        width: 35px;
        height: 35px;
        display: none;
    }
    .swiper-container.typeb .swiper-pagination {
        bottom: 5px;
    }
}

